<h1 style="font-size: 40px; margin-bottom: 0px;">1.1 Quick review and Python data visualization (I)</h1>

<hr style="margin-left: 0px; border: 0.25px solid; border-color: #000000; width: 700px;"></hr>

Welcome to MCB201B! As you've all had a little bit of practice now navigating your Biology Hub server and learning the basics of Python from MCB201A, we'll start off with a quick review of the things that you learned in Experiment 16, and then we'll expand some more on that by working through how we can use Python to streamline our analysis workflow. Towards the 2nd half of today's lesson, we'll then begin learning how we can use Python to visualize our data. 

The overall structure of lab sessions will be slightly different than in MCB201A. Here, we'll have a mix of guided lessons where you follow along through some Python demonstrations, small in-class exercises that you'll have time to work on, and slightly more challenging exercises that will encompass more of what you've learned and give you the opportunity to apply it to situations you might encounter.

The pace of the lab sessions may deviate from the schedule depending on the rate in which we cover the material for each lesson.

Don't forget that if at anytime, you need to redownload the original version of a notebook for this class, you can simply pull the GitHub repo for this class again, and you'll have the original version again (as well as your copy that you were working on).

<strong>Learning objectives:</strong>
<ul>
    <li>Review data types and its application for control flow</li>
    <li>Review of Python DataFrames and importing your data</li>
    <li>Practice navigating directories while working in a Python notebook</li>
    <li>Learn how to load in multiple files for streamlined processing</li>
    <li>Set up a simple workflow to analyze multiple files at once</li>
    <li>Learn basic data visualization in Python</li>
</ul>

<h2>Import Packages</h2>

Like with MCB201A, we'll have towards the top of our notebook, a code cell where we import all the packages that we'll need for the day's lesson.
Packages that we'll use today are:
<ul>
    <li><code>numpy</code> - to work with numbers and arrays in Python</li>
    <li><code>pandas</code> - to facilitate data processing and analysis with DataFrames</li>
    <li><code>matplotlib.pyplot</code> - for data visualization</li>
    <li><code>os</code> - to perform operating system functions in Python</li>
</ul>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
np

<h1 style="font-size: 40px; margin-bottom: 0px;">Common data types</h1>
<hr style="margin-left: 0px; border: 0.25px solid; border-color: #000000; width: 600px;"></hr>

Recall that Python is an object-oriented programming language, and objects have three properties:
<ul>
    <li>Identity - the "address" to find the object in memory that can be accessed via <code>id()</code></li>
    <li>Value - the data or information contained within that object; can be mutable or immutable</li>
    <li>Data type - defines what operations are possible with/using that object and can be accessed via <code>type()</code></li>
</ul>

We can play around with that below for a quick review:

In [4]:
#For example, we can just type in some random data here and play around to see.
#if we wantaed, we can generate a string in case a string that is Liebchen
#we can check 'address' for Liebchen
print(id('Liebchen'))

#we can check the data type
print(type('Liebchen'))

134342700855600
<class 'str'>

<h2>Variables</h2>

We can tell Python to "save" our object, so that it knows to hold onto its location in memory and not override it. We do this by assigning our object to a variable, which acts as a pointer that tells Python where to find the object again.

In [5]:
cat = 'Liebchen'

In [7]:
#Then what we can do is we can pull up the ID for Liebchen and cat
print(id(cat))
print(id('Liebchen'))

134342700857904
134342700857904

In [10]:
id(cat) == id('Liebchen')

True

<h2>Data types</h2>

Data types determine what we can and can't do with an object, and in MCB201A, we covered some common ones including:

<ul>
    <li>strings - also abbreviated as str</li>
    <li>integers - also abbreviated as int</li>
    <li>floats - which are representations of decimal numbers</li>
    <li>booleans - which represent truth values and can be also represnted by <code>0</code> and <code>1</code> for <code>False</code> and <code>True</code>, respectively</li>
</ul>

In [12]:
#we can just quickly use type() function to then look through some data types

print(type('Liebchen'))
print(type(100))
print(type(1.0))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [15]:
#We can also again make use of conditional statements, we can see that with a decimal value,
#the object itself changes but the data value or the mathematical value is the same
print(type(1) == type(1.0))

print(1 == True)

False
True

Recall from MCB201A that you also learned about compound data types, which rather than holding a single value like an integer or float, it instead can hold mulitple objects. 

<ul>
    <li>list - denoted by <code>&lbrack; &rbrack;</code></li>
    <li>array - a compound data type from the numpy package</li>
    <li>set - denoted by <code>{ }</code></li>
    <li>dictionary - also denoted by <code>{ }</code>, but contains key:value pairs</li>
    <li>tuple - denoted by <code>( )</code></li>
</ul>

And remember that each compound data type has slightly different properties which affect what we can use them for and what operations we can perform on them.

<h1 style="font-size: 40px; margin-bottom: 0px;">Control flow</h1>
<hr style="margin-left: 0px; border: 0.25px solid; border-color: #000000; width: 600px;"></hr>

While the standard sequence of code execution is line by line from the first line at the top of the file to the last line at the bottom of the file, recall that you can make use of keyword to control the sequence and conditions under which specific blocks/lines of code are executed.

We can set conditions using if, if-else, and if-elif-else statements to instruct Python to execute certain blocks of code only when defined conditions are met.

For this quick review, we can just make use of a random integer generator that we've used previously <code>np.random.randint()</code>. <a href="https://numpy.org/doc/stable/reference/random/generated/numpy.random.randint.html" rel="noopener noreferrer"><u>Documentation for <code>np.random.randint()</code> can be found here.</u></a>

In [18]:
#Let's set up an interval to work with - the exact range isn't super critical 
Liebchen = np.random.randint(0, 100)

#Then we can set up the conditions under which our line of code will execute
if Liebchen > 50:
    print(Liebchen, 'MEOW!')
else:
    print(Liebchen, 'meow')

58 MEOW!

We can also define blocks of code as functions that we can later call up. So while these blocks of code aren't executed when they're defined, they can be invoked later in a file or even in another file (recall: modules and packages).

Functions are defined by the keyword <code>def</code>, and can be then invoked by using the function's defined name. When invoking a function, you can pass it arguments, which will then change how the function will perform its defined task.

In [19]:
#Let's define a function that will dictate what Liebchen says in response to a randomly generated number

def catfood(upper_limit, big_meow, small_meow):
    Liebchen = np.random.randint(upper_limit)
    if Liebchen > 50:
        print(Liebchen, big_meow)
    else:
        print(Liebchen, small_meow)

Now that we defined our function, we can later on call it up, resulting in those lines of code getting executed.

In [22]:
catfood(100, 'Meowwwwww', 'meow.')

40 meow.

In the previous example, we simply had our function print out what the result was, but we can also have our function perform some operation and then return to us the output of that operation by using the <code>return</code> keyword.

In [23]:
def mathcat(x, y, z):
    result = x + y + z
    return result

Now let's give the function that we just defined a try.

In [24]:
mathcat(100, 10, 2)

112

Compare this to if we used the <code>print()</code> function instead.

In [25]:
def mathcatprint(x, y, z):
    result = x + y +z
    print(result)

mathcatprint(100, 10, 2)

112

In [29]:
mathcat(100, 10, 2) + 2

114

While it may look the same in terms of what we see in the output, you can see that the output from <code>print()</code> isn't really a usable output that we can then use later on in our code. What <code>print()</code> is doing is outputting the value of the variable in the standard output, whereas <code>return</code> will return the object itself.

The other method of controlling the sequence of code execution is using for-loops, which we will make use of today. Recall from MCB201A that for-loops iterate through a given compound data type to repeatedly perform a set operation. For the type of analyses that we'll be doing, we'll be setting up our for-loops with either lists or arrays. 

Let's do a quick review of for-loops and then expand on how we can set them up for the type of analysis that we'll be doing today.

For our set-ups, we'll make use of a numpy function <code>np.arange()</code>, which lets us quickly generate an array comprised of values in a defined range and with a set step-size between values. <a href="https://numpy.org/doc/stable/reference/generated/numpy.arange.html" rel="noopener noreferrer"><u>Documentation for <code>np.arange()</code> can be found here.</u></a>

In [30]:
#let's set up a for-loop
for i in np.arange(0, 10, 1):
    print(i**2)

0
1
4
9
16
25
36
49
64
81

You can see in the example that we again made use of the <code>print()</code> function to output the value of each object as we iterated through our list. Like with functions, this type of output from our for-loop isn't the most helpful if we wanted to make use of outputs from our for-loop.

In [32]:
#What can we do instead?
for i in np.arange(0, 10, 1):
    return i**2

SyntaxError: 'return' outside function (3767791965.py, line 3)

In [37]:
#We can initialize a defined array of zeros
data = np.zeros(10)

#so now let's set up our for-loop
for i in np.arange(0, 10, 1):
    print(type(i)) #This line is just to check data type of i
    data[i] = i**2

#Looking at our array now that it's been updated
print(data)

#This for-loop is just to check datatype of each object in the list
for obj in data:
    print(type(obj))

<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
[ 0.  1.  4.  9. 16. 25. 36. 49. 64. 81.]
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>

Now let's see if that output is something usable that we can perform further operations on.

In [38]:
data + 10

array([10., 11., 14., 19., 26., 35., 46., 59., 74., 91.])

In [40]:
#we can also set up or initialize an empty list
data_list = []

print(data_list) #output our empty list

#set up for-loop to populate our list
for i in range(0, 10, 1):
    data_list.append(i**2)

print(data_list) #output our list now that we've added things to it

[]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

<h1 style="font-size: 40px; margin-bottom: 0px;">DataFrames and importing data</h1>
<hr style="margin-left: 0px; border: 0.25px solid; border-color: #000000; width: 600px;"></hr>

When we're working with our own data, we'll more often than not be using the pandas package in order work with our data as DataFrames. This data type is intuitively more similar to Excel or Google Sheets and provides us with a lot of functionality for data processing. DataFrames share features with the other compound data types that we've covered, and that allows us to work with DataFrames as if they were lists, sets, and/or dictionaries.

Recall that there's a bunch of ways that we can set up a DataFrame using different compound data types, whether that is with lists, arrays, dictionaries, or Series. For this quick review, we'll just quickly set up a few DataFrames using different data types.

In [41]:
#For this first example, we can set up a 2D list or 2D array
pd.DataFrame([[0, 1], [10, 20]])

    0   1
0   0   1
1  10  20

In [42]:
#We can also do this with a random number generator to set up a 2D array
pd.DataFrame(np.random.rand(3,3))

          0         1         2
0  0.740104  0.278436  0.850331
1  0.760861  0.322059  0.247055
2  0.905843  0.950878  0.036132

In [44]:
jack_cats = pd.DataFrame({'Tony': [1,2,3], 'Victor': [2,4,6], 'Liebchen': [3,6,9]})

<h2>Retrieving data from a DataFrame</h2>

Recall from MCB201A that we can retrieve things from a DataFrame by making use of either slice notation, dictionary notation, or specific locators <code>.loc[]</code> or <code>.iloc[]</code>, which lets us pull values based on index position or key(s).

Just as a quick refresher, lets assign the last DataFrame from the above examples to retrieve values from.

In [46]:
jack_cats = pd.DataFrame({'Tony': [1,2,3], 'Victor': [2,4,6], 'Liebchen': [3,6,9]})

jack_cats.style

Let's then rename the index values (what the rows' keys are) using the <code>pd.DataFrame.rename()</code> function. <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html" rel="noopener noreferrer"><u>Documentation for <code>pd.DataFrame.rename()</code> can be found here.</code>

In [49]:
jack_cats.rename(index={0: 'tuna', 1: 'salmon', 2: 'ahi'}, inplace=True)

In [51]:
jack_cats.style

In [56]:
jack_cats['Tony']['tuna'] #chained "dictionary notation"

np.int64(1)

In [54]:
jack_cats.loc['tuna', 'Tony'] #using .loc

np.int64(1)

<h2>Importing data from a DataFrame</h2>

We have some sample data that we'll make use of for our guided exercises, and then you'll work on some independent exercises building on what you've learned so far. For this guided portion, we'll use pandas to import a sample dataset into our notebook as a DataFrame.

You'll be able to find the example data in this week's directory in the <code>data</code> subdirectory and then in the <code>example</code> subdirectory.

To do this, we'll make use of the <code>pd.read_csv()</code> function. <a href="https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html" rel="noopener noreferrer"><u>Documentation for <code>pd.read_csv()</code><code> can be found here.</u></a>

In [68]:
sample_1 = pd.read_csv('./data/example/sample_1.csv')

Now let's do a quick sanity check to make sure that it imported properly.

In [69]:
sample_1.style

It looks like the sample dataset has an extra column in the front that denotes the index position, so we can use the <code>pd.DataFrame.drop()</code> function to get rid of the extra column. <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html" rel="noopener noreferrer"><u>Documentation for <code>pd.DataFrame.drop()</code> can be found here.</u></a>

We can also adjust how we set up our <code>pd.read_csv()</code> function as well.

In [67]:
sample_1.drop(columns='Unnamed: 0', inplace=True) #if you re-run then you will get an error b/c the column was already dropped so it no longer exists

KeyError: "['Unnamed: 0'] not found in axis"

In [66]:
sample_1.style

<h1 style="font-size: 40px; margin-bottom: 0px;">Operating system functionality in Python</h1>
<hr style="margin-left: 0px; border: 0.25px solid; border-color: #000000; width: 750px;"></hr>

Recall from MCB201A, there were two ways for us to navigate through our Biology Hub server. The first way was simply using the File Browser UI, which is no different than how we navigate through files on our computers. The other way was through Terminal, where you provided commands to direct your Terminal through your directories. We can also do the same thing in Python, instructing it to go through directories to find files. 

In a way, we've already done this through <code>pd.read_csv()</code>, where we provided Python with a string corresponding to the file path for our .csv file. Python can then navigate through the directories to find our .csv file.

```
sample_1 = pd.read_csv('./data/example/sample_1.csv')
```

Today, you will learn to make use of the <code>os</code> module in order to perform different oprating system tasks, such as changing directories and pulling files. The <code>os</code> module allows you to find files that you want to pull into Python, so you can load in multiple files at once for analysis. In our case, we will be using functions defined in this module to load in files containing our data.

<h2>Identify current working directory</h2>

First, let's take a look at our current working directory by using the <code>os.getcwd()</code> function. <a href="https://docs.python.org/3/library/os.html#os.getcwd" rel="noopener noreferrer" target="_blank"><u>Documentation for <code>os.getcwd()</code> can be found here.</u></a>

In [70]:
os.getcwd()

'/home/jovyan/MCB201B_F2025/Week_1'

You can see that the <code>os.getcwd()</code> function outputs to us the path to our current working directory, and by default, our working directory will be the folder that contains our Python notebook.

But what data type are we getting as an output?

In [71]:
type(os.getcwd())

str

You can see that we're getting a string data type as an output that contains the file path information to our current working directory. 

<strong><i>Recall from MCB201A the types of operations we can perform on strings. What could we potentially use to modify our string to specify the file path to a subdirectory?</i></strong>

In [73]:
os.getcwd() + '/data/'

'/home/jovyan/MCB201B_F2025/Week_1/data/'

<h2>Change directories</h2>

We can also change what folder our notebook is working in by using the <code>os.chdir()</code> function. <a href="https://docs.python.org/3/library/os.html#os.chdir" rel="noopener noreferrer" target="_blank"><u>Documentation for <code>os.chdir()</code> can be found here.</a></u>

To reduce how much we need to type, we can use the <code>os.getcwd()</code> function to get the file path to this week's directory and just add on the subdirectory information.

In [74]:
os.chdir(os.getcwd() + '/data/')

In [77]:
os.getcwd()

'/home/jovyan/MCB201B_F2025/Week_1'

<strong><i>How can we potentially shorten this further?</i></strong>

In [78]:
#For this let's return to our original directory
os.chdir('/home/jovyan/MCB201B_F2025/Week_1')

#Shorthand change to subdirectory
os.chdir('./data/')

Now let's see what our current working directory is for our notebook.

In [79]:
os.getcwd()

'/home/jovyan/MCB201B_F2025/Week_1/data'

You should be able to see now that our current working directory has been updated to be the <code>data</code> subdirectory contained within this week's directory.

<h2>Get the names of files and folders in a directory</h2>

Now that we're in a directory that we want to work in, we can take a look at what's containined within it by using the <code>os.listdir()</code> function. <a href="https://docs.python.org/3/library/os.html#os.listdir" rel="noopener noreferrer" target="_blank"><u>Documentation for <code>os.listdir()</code> can be found here.</u></a>

```
os.listdir()
```

This is functionally similar to the <code>ls</code> command in Terminal that you learned in MCB201A.

In [82]:
os.listdir()

['cohort', 'example']

You should be able to see that the output contains the folders containing different data files for this week that we'll be analyzing as part of today's lesson. Specifically, the <code>cohort</code> folder and the <code>example</code> folder, as well as a hidden .ipynb_checkpoints folder.

Let's now instead output the files contained within the <code>example</code> subdirectory.

In [84]:
file_names = os.listdir('./example/')

<h3>Sort file names</h3>

What you might have noticed is that we got in our output a list containing all the file names for sample data files we want to analyze, but they are given to us in an arbitrary order. While this isn't super critical for today's analysis, if you run into a situation (like in our later image analyses) where you need the files to be in a specific order, you will need to first sort the file names in Python using the <code>list.sort()</code> function. <a href="https://docs.python.org/3/library/stdtypes.html#list.sort" rel="noopener noreferrer" target="_blank"><u>Documentation for <code>list.sort()</code> can be found here.</u></a>

In [85]:
file_names.sort()

In [86]:
print(file_names)

['.ipynb_checkpoints', 'sample_1.csv', 'sample_2.csv', 'sample_3.csv', 'sample_4.csv', 'sample_5.csv', 'sample_6.csv', 'sample_7.csv', 'sample_8.csv', 'sample_9.csv']

You may also find that your <code>example</code> subdirectory contains a .ipynb_checkpoints hidden folder.

<strong><i>How could you potentially use slice notation to remove it from your list?</i></strong>

In [87]:
file_names = file_names[1:]
print(file_names)

['sample_1.csv', 'sample_2.csv', 'sample_3.csv', 'sample_4.csv', 'sample_5.csv', 'sample_6.csv', 'sample_7.csv', 'sample_8.csv', 'sample_9.csv']

<h1 style="font-size: 40px; margin-bottom: 0px;">Exercise #1: Import multiple files for analysis</h1>

<hr style="margin-left: 0px; border: 0.25px solid; border-color: #000000; width: 850px;"></hr>

For this exercise, see if you can apply what you've learned to now import the set of sample files into Python.

In [92]:
#Let's rehash real quick to get a list of our file names
file_names = os.listdir('./example')
file_names.sort()
file_names = file_names[1:] #remove the .ipynb_checkpoints folder if it exists - otherwise comment out this line

#we'll make use of for-loops and we'll need to iterate through our list of file names to import each file
#so to hold all the files, we can initialize an empty list
sample_dataset = []

for sample_file in file_names:
    data = pd.read_csv(f'./example/{sample_file}',
                      index_col='Unnamed: 0')
    sample_dataset.append(data)

#Let's see how our dataset looks
sample_dataset

[          0         1         2         3         4         5
 0  0.948847  0.900984  0.870761  0.587481  0.301050  0.625124
 1  0.050425  0.883720  0.900340  0.321184  0.766579  0.892876,
           0         1         2         3         4         5
 0  0.581707  0.362048  0.377234  0.391912  0.391218  0.261659
 1  0.159126  0.414900  0.673513  0.905496  0.783815  0.550291,
           0         1         2         3         4         5
 0  0.711696  0.257550  0.062503  0.126938  0.956557  0.841019
 1  0.184728  0.920615  0.662907  0.116992  0.263741  0.458254,
           0         1         2         3         4         5
 0  0.393527  0.069669  0.402857  0.893234  0.197616  0.280778
 1  0.759921  0.910135  0.057364  0.505850  0.463253  0.778482,
           0         1         2         3         4         5
 0  0.542810  0.996330  0.514617  0.107398  0.007007  0.338683
 1  0.332083  0.451541  0.560506  0.849718  0.250598  0.085261,
           0         1         2         3         4         5
 0  0.788193  0.902716  0.773633  0.884194  0.239244  0.369262
 1  0.939908  0.676097  0.403357  0.836813  0.906492  0.413996,
           0         1         2         3         4         5
 0  0.056302  0.593969  0.589267  0.582081  0.950435  0.758987
 1  0.169573  0.491132  0.887733  0.638168  0.285242  0.765533,
           0         1         2         3         4         5
 0  0.798355  0.149197  0.100144  0.530165  0.327652  0.587117
 1  0.834348  0.272831  0.988262  0.791139  0.793758  0.025509,
           0         1         2         3         4         5
 0  0.854462  0.322085  0.513210  0.583153  0.710232  0.724518
 1  0.066796  0.118959  0.110092  0.708376  0.410412  0.148984]

We can take a break here, and when we reconvene, we'll go over Exercise 1, and then once everyone is on the same page, we can proceed to Exercise 2.

<h1 style="font-size: 40px; margin-bottom: 0px;">Exercise #2: Update your DataFrames</h1>

<hr style="margin-left: 0px; border: 0.25px solid; border-color: #000000; width: 700px;"></hr>

What you can see in the imported files is that the columns and indices don't provide us with much information on this sample dataset. So for this exercise, return to your code from before and modify it so that the rows indicate the <code>control</code> for index <code>0</code> and the <code>tazko</code> for index <code>1</code>.

In [93]:
#Let's rehash real quick to get a list of our file names
file_names = os.listdir('./example')
file_names.sort()
file_names = file_names[1:] #remove the .ipynb_checkpoints folder if it exists - otherwise comment out this line

#we'll make use of for-loops and we'll need to iterate through our list of file names to import each file
#so to hold all the files, we can initialize an empty list
sample_dataset = []

for sample_file in file_names:
    data = pd.read_csv(f'./example/{sample_file}',
                      index_col='Unnamed: 0')
    data.rename(index={0:'control',
                       1:'tazko'}, inplace=True)
    sample_dataset.append(data)

#Let's see how our dataset looks
sample_dataset

[                0         1         2         3         4         5
 control  0.948847  0.900984  0.870761  0.587481  0.301050  0.625124
 tazko    0.050425  0.883720  0.900340  0.321184  0.766579  0.892876,
                 0         1         2         3         4         5
 control  0.581707  0.362048  0.377234  0.391912  0.391218  0.261659
 tazko    0.159126  0.414900  0.673513  0.905496  0.783815  0.550291,
                 0         1         2         3         4         5
 control  0.711696  0.257550  0.062503  0.126938  0.956557  0.841019
 tazko    0.184728  0.920615  0.662907  0.116992  0.263741  0.458254,
                 0         1         2         3         4         5
 control  0.393527  0.069669  0.402857  0.893234  0.197616  0.280778
 tazko    0.759921  0.910135  0.057364  0.505850  0.463253  0.778482,
                 0         1         2         3         4         5
 control  0.542810  0.996330  0.514617  0.107398  0.007007  0.338683
 tazko    0.332083  0.451541  0.560506  0.849718  0.250598  0.085261,
                 0         1         2         3         4         5
 control  0.788193  0.902716  0.773633  0.884194  0.239244  0.369262
 tazko    0.939908  0.676097  0.403357  0.836813  0.906492  0.413996,
                 0         1         2         3         4         5
 control  0.056302  0.593969  0.589267  0.582081  0.950435  0.758987
 tazko    0.169573  0.491132  0.887733  0.638168  0.285242  0.765533,
                 0         1         2         3         4         5
 control  0.798355  0.149197  0.100144  0.530165  0.327652  0.587117
 tazko    0.834348  0.272831  0.988262  0.791139  0.793758  0.025509,
                 0         1         2         3         4         5
 control  0.854462  0.322085  0.513210  0.583153  0.710232  0.724518
 tazko    0.066796  0.118959  0.110092  0.708376  0.410412  0.148984]

<h1 style="font-size: 40px; margin-bottom: 0px;">Exercise #3: Calculate the means</h1>

<hr style="margin-left: 0px; border: 0.25px solid; border-color: #000000; width: 600px;"></hr>

Let's continue to modify our code from earlier, and this time, we want to now calculate the means for each sample. For this, we can make use of the <code>np.mean()</code> function. <a href="https://numpy.org/doc/stable/reference/generated/numpy.mean.html" rel="noopener noreferrer"><u>Documentation for <code>np.mean()</code> can be found here.</u></a>

In [96]:
#Let's rehash real quick to get a list of our file names
file_names = os.listdir('./example')
file_names.sort()
file_names = file_names[1:] #remove the .ipynb_checkpoints folder if it exists - otherwise comment out this line

#we'll make use of for-loops and we'll need to iterate through our list of file names to import each file
#so to hold all the files, we can initialize an empty list
# sample_dataset = [] - we don't really need this anymore
mean_control_outputs = []
mean_tazko_outputs = []

for sample_file in file_names:
    data = pd.read_csv(f'./example/{sample_file}',
                      index_col='Unnamed: 0')
    data.rename(index={0:'control',
                       1:'tazko'}, inplace=True)
    #Find the mean of the control row
    control = np.mean(data.loc['control', :])
    #Find the mean of the tazko row
    tazko = np.mean(data.loc['tazko', :])
    mean_control_outputs.append(control)
    mean_tazko_outputs.append(tazko)

#Let's see how our dataset looks
print(mean_tazko_outputs)

[np.float64(0.6358539985553717), np.float64(0.5811899900012011), np.float64(0.4345395867102518), np.float64(0.5791675996000406), np.float64(0.4216176109288774), np.float64(0.6961106571309754), np.float64(0.5395635410708114), np.float64(0.6176413394257626), np.float64(0.2606031294143618)]

Before we begin the next set of exercises, let's reconvene to see how everyone's code looks like.

<h1 style="font-size: 40px; margin-bottom: 0px;">Exercise #4: Process and analyze cohort data</h1>

<hr style="margin-left: 0px; border: 0.25px solid; border-color: #000000; width: 850px;"></hr>

For this exercise, we'll be making use of the class raw data file for the MTT assay. The files have been cleaned and should have been pulled into your server along with today's notebook and the example data files. 

While everyone analyzed their own dataset (often in GraphPad/Prism or Excel or Google Sheets), it was for a single biological replicate, and later everyone shared the results of their analysis to get the full class dataset. If you needed to analyze all the class files on your own using Excel, it could take a good chunk of time to be able to process everyone's data. For the MTT assay, each replicate has its own control and background control, so each file requires a bit more processing.

See if you can take what you've learned from today's lesson and the previous set of exercises to import and process the class results from each group's MTT assay for TAZ KO.

If it helps, you can see if you can set up the code for a single file, and then make adjustments so that it can be used to process multiple files.

In [108]:
file_names = os.listdir('./cohort')
file_names.sort()
file_names = file_names[1:]

average_corrected_control_absorbances = []
average_corrected_tazko_absorbances = []

for sample_file in file_names:
    data = pd.read_csv(f'./cohort/{sample_file}',
                       index_col='Unnamed: 0')

    #Add in function to rename our indices
    data.rename(index={'A': 'control', 'B': 'tazko', 'C': 'background'}, inplace=True)

    #Find the mean of the background row
    mean_bg = np.mean(data.loc['background', :])

    #Find the corrected absorbances by subtracting the background from all wells
    cor_data = data - mean_bg

    #We will then find the average of control and the tazko samples
    cor_control = np.mean(cor_data.loc['control', :])
    cor_tazko = np.mean(cor_data.loc['tazko', :])

    #now we can add it to our holding list
    average_corrected_control_absorbances.append(cor_control)
    average_corrected_tazko_absorbances.append(cor_tazko)

#take a look at our values
print(average_corrected_control_absorbances)
print(average_corrected_tazko_absorbances)

#If we want to find the mean corrected control absorbances
mean_corrected_control_absorbance = np.mean(average_corrected_control_absorbances)
#take a look at our calculated mean
print(mean_corrected_control_absorbance)

#Do the same for tazko
mean_corrected_tazko_absorbance = np.mean(average_corrected_tazko_absorbances)
print(mean_corrected_tazko_absorbance)

#Relative to control - so divide by control absorbance value
relative_control = mean_corrected_control_absorbance / mean_corrected_control_absorbance
relative_tazko = mean_corrected_tazko_absorbance / mean_corrected_control_absorbance

#Take a look at the means that we calculated based on class dataset
print(relative_control)
print(relative_tazko)

[np.float64(0.5394166666666667), np.float64(0.51825), np.float64(0.8793333333333333), np.float64(0.6224999999999999), np.float64(0.6978333333333332), np.float64(0.5393333333333333)]
[np.float64(0.3194166666666666), np.float64(0.5408333333333333), np.float64(0.4580833333333334), np.float64(0.24824999999999997), np.float64(0.43916666666666665), np.float64(0.31466666666666665)]
0.6327777777777778
0.3867361111111111
1.0
0.6111720807726075

<h1 style="font-size: 40px; margin-bottom: 0px;">Exercise #5: Combine output into single DataFrame</h1>

<hr style="margin-left: 0px; border: 0.25px solid; border-color: #000000; width: 950px;"></hr>

We now have two lists, with each list corresponding to the control relative mean absorbances and the other list corresponding to the TAZ KO relative mean absorbaces. For this exercise, see if you can create a new DataFrame containing these outputs with the index labeled accordingly for the two conditions.

<h1 style="font-size: 40px; margin-bottom: 0px;">Exercise #6: Transpose DataFrame</h1>

<hr style="margin-left: 0px; border: 0.25px solid; border-color: #000000; width: 650px;"></hr>

Often, DataFrames will be arranged such that each column is a different condition or group. Recall from MCB201A that we can easily transpose our DataFrame, so that way, our columns will indicate the condition rather than the biological replicate.

Now that we have a DataFrame containing our cohort data, we can use it to learn how to visualize our data.

<h1 style="font-size: 40px; margin-bottom: 0px;">Basic data visualization in Python</h1>
<hr style="margin-left: 0px; border: 0.25px solid; border-color: #000000; width: 750px;"></hr>

For some basic data visualization, we'll first learn how to use <code>matplotlib</code>, which is an extensive Python library containing a lot of different packages and modules that allow us to generate simple graphs to more complex visualizations. It has functions to create any number of plots, and it can be used to create static, animated, and interactive plots. The versatility of <code>matplotlib</code> makes it very helpful when creating publication quality figures.

You can find the documentation of matplotlib <u><a href="https://matplotlib.org/" rel="noopener noreferrer" target="_blank">here</a></u>.

Because it can get confusing at times to figure out how to set up a plot a certain way or what functions are available, a quick Google search can often aid in helping find the right code to get your data to plot the way you want it to (or you can also ask ChatGPT). So don't be afraid to look things up.

<h2>Setting up a bar plot</h2>

To set up a bar plot, you would make use of the <code>plt.bar()</code> function. <a href="https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.bar.html" rel="noopener noreferrer"><u>Documentation for <code>plt.bar()</code> can be found here.</u></a>

We will provide it with two arguments which containes the information to be plotted on two axes. First, we will provide the function with a list containing our sample conditions, and then we provide it with another list which contains the mean relative absorbances. You'll want to be careful to keep in mind that the position within each list matters because the sample condition will be plotted along with a value based the fact that they're in the same position of their respective lists.

<h2>Basic formatting for a plot</h2>

We will adjust slightly how we set up our plot, so that we can call up specific attributes of our plot in order to change them to show information that we want the plot to have. For example, looking at our plot currently, you might notice that it's missing the Y-axis label and the X-axis tick marks can be adjusted to not all be entirely lowercase with no spaces.

To set this up, we will make use of the <code>plt.subplots()</code> function. <a href="https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.subplots.html" rel="noopener noreferrer"><u>Documentation for <code>plt.subplots()</code> can be found here.</u></a> If you dig into the documentation, you can see that <code>plt.subplots()</code> returns to us two objects. The first object is <code>fig</code> and the second is <code>ax</code>. These two objects specify the layout and the formatting of the figure.

Since the function returns two outputs, we can unpack those two outputs into two separate variables.

```
fig, ax = plt.subplots()
```

This is a fairly common way of setting up not only single plots but also multiple plots (subplots).

Let's first modify the Y-axis so that it shows the Y-axis label by pulling out the Y-axis label attribute from the <code>ax</code> object that was returned to us by <code>plt.subplots()</code>.

Now let's update the X-tick labels by pulling out attributes to modify from the <code>ax</code> object.

Let's finish by updating the Y-axis tick labels to be more consistent with how we updated the other labels. In this instance, instead of pulling an attribute from <code>ax</code>, we'll use <code>plt.yticks()</code> because it'll allow us to update the tick labels without needing to specify them first.